*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #A558CF;
    color: #ffffff;
}
header{
    height: 10vh;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1vh;
    margin-bottom: 3vh;

    .imgjam{
        display: flex;
        gap: 1rem;
        margin-right: 82rem;

    .astrojamlogo{
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
    }
    .bemvindo{
        font-family: 'Arial', sans-serif;
        font-size:50px;
        font-weight: bold;
        color: #121212;
        width: 13vw;


        
    }
    }


    
    .contatoinscreva{
        display: flex;
        
        
    
        a {
        width: 5.5vw;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: larger;

        
    }
    }
}

.caixasobreoevento{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5rem;
    padding-left: 10rem;
    width: 90%;
    height: 70vh;
    background-color: #ffffff28;
    border-radius: 30px;
    border: none;
    img{
        display: flex;
        justify-content: center;
        width: 25.68rem;
        height: 25.87rem;
        margin-top: 3.6vh;
        margin-left: 25rem;
        border-radius: 1rem;
        
    }
    .sobreoevento{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items:start;
       margin-left: -10rem;
       margin-right: -15rem;
       border: none;
       padding-left: 0rem;
       padding-right: -20rem;
    }
}
.tudosobre{
    display: flex;
    border-radius: 1rem;
    box-shadow: #000000;
    color: #121212;
    width: 72rem;
    height: 30rem;
    margin-right: 1rem;
    

    
    .inscrevase2{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10rem;
            height: 3rem;
            background-color: #000000;
            color: #A558CF;
            font-size: 1.4rem;
            font-weight: bold;
            border: none;
            border-radius: 0.5rem;
            margin-top: 1rem;
            cursor: pointer;
        
    }

    .Sobre{
        font-size: 6vh;
        font-weight: bold;
        margin-bottom: 1vh;
        
    }
    .descrição-sobre{
        font-size: 3.5vh;
        line-height: 1.5;
        text-align:start;
        margin-right: 5rem;
        
    }
    
}

.categorias{


    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;

    h2{
        
        color: #000000;
        font-weight: 800;
        height: 4vh;
        margin-bottom: -6px;
    }

    .individual{
        color: #000000;
        font-size: 16px;
    }

    .primeiracolocacao{
        color: #000000;
        font-size: 35px;
        font-weight: 900;
        
    }

    .valoremax{
        
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: baseline;

        .primeiracolocacao{
       
        height: 5vh;
        color: #000000;
        font-size: 35px;
        font-weight: 900;
        
    }

        .maxrank{
        
        display: flex;
        align-items: baseline;
        height: 2.5vh;
        color: #2b2b2be1;
        font-size: 18px;
        font-weight: 550;
    }

    }
    

    .card{
        background-color: #ffffffad;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        border-radius: 10px;
        padding: 2rem;
        box-shadow: #000000 0 2px 10px 1px;
        width: 17vw;
        height: 40vh;
        align-items: center;
        

    }

    button{
        
        background-color: #121212;
        color: #ffffff;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        padding: 1rem;
        border-radius: 10px;
    }

    .lugaresvalor{
        
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        font-family: 'Inter', Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
        height: 13vh;

        
        .cheking{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding-left: 1rem;
            
            
            img{
            
            width: 1.5vw;
            display: flex;
            flex-direction: column;
            
            
        }

        }
        


        .ranks{
            width: 23.5vw;
            
            color: #121212;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }

        .rankvalor{
            width: 20vw;
            color: #3b3b3bce;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: end;
        }
    }
    
}